bin/
obj/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

*.vspscc
*.vssscc
.vscode/


*.log

appsettings.Development.json
appsettings.Local.json

Migrations/

**/packages
*.nupkg
*.snupkg

.vscode/
.vs/

.idea/

*.nupkg